@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
@media screen and (min-width: 375px) {
   
  }
@media screen and (min-width: 650px) {
   
}
@media screen and (min-width: 800px) {
   
}
@media screen and (min-width: 1000px) {
   
}

body {
    /* Credit Eberhard Grossgasteiger, website is Pexels */
    background-image: url("../images/newback.jpg");
    background-color: rgb(25, 26, 28);
    font-family: 'Crimson Pro',Helvetica,sans-serif;
    font-size: 1em;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    background-image: url("../images/pexels-pixabay-301378.jpg");
    text-align: center;
    display: flex;
    position: absolute;
    font-size: 1.55em;
    top: 40%;
    left: 66%;
    width: 20%;
    height: 25%;
    max-height: min-content;
    color:rgb(212, 145, 38);
    background-size: contain;
    overflow: hidden;
}

#logo {
    position: absolute;
    text-align: center;
    top: 6%;
    left: 12%;
    width: 5%;
    height: 5%;
}

p:hover {
    overflow: visible;
}

#hoverprompt {
    display: flex;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 71%;
    width: 20%;
    height: 25%;
    color: rgb(24, 137, 4);
    font-weight: bolder;
}

nav {
    /* Credit FWstudio, website is Pexels */
    background-image: url("../images/pexels-pixabay-301378.jpg");
    margin-top: -0.6%;
    text-align: center;
    font-size: 2.5em;
    background-size: contain;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.4em;
}

nav a {
    padding-right: 30px;
}

.navlink:hover {
    color:olivedrab
}

#susanochkim {
    display: flex;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 40%;
    height: 80%;
    border: 5px solid rgb(41, 27, 1);
    border-radius: 35px;
}

.galleryimage {
    display: inline;
    margin-top: 8em;
    max-width: 17%;
    max-height: 17%;
    margin-left: 12em;
}


#googlemap {
    float: right;
    display: flex;
    position: absolute;
    top: 30%;
    left: 45%;
    width: 20%;
    height: 25%;
}

a:link {
    text-decoration: none;
    color:yellowgreen
}

a:visited {
    text-decoration: none;
    color:yellowgreen
}

a:hover {
    text-decoration: none;
    color:yellowgreen
}

a:active {
    text-decoration: none;
    color:yellowgreen
}
