@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
@media screen and (min-width: 375px) {
   
  }
@media screen and (min-width: 650px) {
   
}
@media screen and (min-width: 800px) {
   
}
@media screen and (min-width: 1000px) {
   
}

body {
    /* Credit Eberhard Grossgasteiger, website is Pexels */
    background-image: url("../images/newback.jpg");
    background-color: rgb(25, 26, 28);
    font-family: 'Crimson Pro',Helvetica,sans-serif;
    font-size: 1em;
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    background-image: url("../images/pexels-pixabay-301378.jpg");
    text-align: center;
    display: flex;
    position: absolute;
    font-size: 1.55em;
    top: 40%;
    left: 65%;
    width: 20%;
    height: 25%;
    max-height: min-content;
    color:rgb(212, 145, 38);
    background-size: contain;
    overflow: hidden;
    text-overflow: ellipsis;

}

p {
    
}

nav {
    /* Credit FWstudio, website is Pexels */
    background-image: url("../images/pexels-pixabay-301378.jpg");
    margin-top: 2.5%;
    text-align: center;
    font-size: 2.5em;
    background-size: contain;
}

nav a {
    padding-right: 30px;
}

.navlink:hover {
    color:olivedrab
}

#susanochkim {
    display: flex;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 40%;
    height: 80%;
    border: 2px solid rgba(245, 222, 179, 0);
    border-radius: 180px;
}

.galleryimage {
    display: inline;
    margin-top: 8em;
    max-width: 17%;
    max-height: 17%;
    margin-left: 12em;
}


#googlemap {
    float: right;
    display: flex;
    position: absolute;
    top: 30%;
    left: 45%;
    width: 20%;
    height: 25%;
}

a:link {
    text-decoration: none;
    color:yellowgreen
}

a:visited {
    text-decoration: none;
    color:yellowgreen
}

a:hover {
    text-decoration: none;
    color:yellowgreen
}

a:active {
    text-decoration: none;
    color:yellowgreen
}
