@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');
@media screen and (min-width: 375px) {
    .navbar a {
        float: none;
        display: block;
      }
  }
@media screen and (min-width: 650px) {
    .navbar a {
        float: none;
        display: block;
      }
}

body {
    /* Credit Eberhard Grossgasteiger, website is Pexels */
    background-image: url("../images/newback.jpg");
    background-color: rgb(25, 26, 28);
    font-family: 'Crimson Pro',Helvetica,sans-serif;
    font-size: 1em;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: rgb(24, 137, 4);
    display: flex;
    position: relative;
    top: 9%;
    left: 48%;
    width: 50%;
    font-weight: bolder;
    text-shadow: 1.5px 1.5px wheat;
    font-size: 2.25em;

}

#welcometext {
    background-image: url("../images/pexels-pixabay-301378.jpg");
    text-align: center;
    display: flex;
    position: relative;
    float: right;
    font-size: 1.55em;
    bottom: 5%;
    right: 17%;
    width: 20%;
    height: 25%;
    margin-top: 25%;
    max-height: min-content;
    color:yellowgreen;
    text-shadow: 1.5px 1.5px black;
    background-size: contain;
    border-radius: 0.25em;
    border:4px solid rgb(41, 27, 1) ;
    padding: 1.25%;
}

#logo {
    position: relative;
    text-align: center;
    display: flex;
    top: 10%;
    left: 12%;
    width: 5%;
    height: 5%;
}

nav {
    /* Credit FWstudio, website is Pexels */
    background-image: url("../images/composite.png");
    margin-top: -0.42%;
    display: relative;
    text-align: center;
    font-size: 2em;
    background-size: contain;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.4em;
}

nav a {
    padding-right: 30px;
}

.navlink:hover {
    color:olivedrab
}

#susanochkim {
    display: flex;
    position: relative;
    float: left;
    top: 18%;
    left: 14%;
    width: 30%;
    height: 75%;
    border: 5px solid rgb(41, 27, 1);
    border-radius: 35px;
}

#clinic1 {
    display: flex;
    position: relative;
    top: 18%;
    left: 27%;
    width: 28%;
    height: 28%;
    border: 5px solid rgb(41, 27, 1);
    border-radius: 35px;
}

.galleryimage {
    display: inline;
    margin-top: 8em;
    max-width: 17%;
    max-height: 17%;
    margin-left: 12em;
}


#googlemap {
    float: right;
    display: flex;
    position: absolute;
    top: 30%;
    left: 45%;
    width: 20%;
    height: 25%;
}

a:link {
    text-decoration: none;
    color:yellowgreen
}

a:visited {
    text-decoration: none;
    color:yellowgreen
}

a:hover {
    text-decoration: none;
    color:yellowgreen
}

a:active {
    text-decoration: none;
    color:yellowgreen
}
        
#foot {
    position: relative;
    text-align: center;
    display: flex;
    top: 7em;
    left: 12%;
    width: 5%;
    height: 5%;
    background-image: url("../images/composite.png");
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 0.4em;
}

.infolink {
    background-image: url("../images/pexels-pixabay-301378.jpg");
    float: left;
    display: flex;
    position: relative;
    top: 30%;
    left: 45%;
    width: 20%;
    height: 25%;
}